<div id="register_form">
    <form autocomplete="on" method="post" name="new_register" id="new_register" >
   
        <h1>Registrarse</h1>
        
        <table border='0'>
            <tr>
                <td data-tr="Nombre"></td>
                <td><input type="text" name ="name" id="name" placeholder ="name" value=""></td>
                
                   <td> <span id="e_name" class="styerror"></span></td>
                    
            </tr>

            <tr>
                <td data-tr="Email"></td>
                <td><input type="text" name ="email" id="email" placeholder ="email" value=""/></td>
                <td>
                    <span id="e_email" class="styerror">
                        
                    </span>
                    </td>
            </tr>

            <tr>
                <td data-tr="password"></td>
                <td><input type="text" name ="password" id="password" placeholder ="password" value=""/></td>
                <td><font color="red">
                    <span id="e_password" class="styerror"></span>
                    </font></font></td>
            </tr>
            <tr>
                <td data-tr="password2"></td>
                <td><input type="text" name ="password2" id="password2" placeholder ="password" value=""/></td>
                <td><font color="red">
                    <span id="e_password2" class="styerror"></span>
                    </font></font></td>
            </tr>
            

          

          

        
            <tr>
                <td><input type="button" name="register" id="register" class="register" onclick="validate_register()" value="enviar"/></td>
                <td align="right"><a href="index.php?page=controller_user&op=list">Volver</a></td>
            </tr>
        </table>
    </form>
</div>

<div id="login_form">
    <form autocomplete="on" method="post" name="new_login" id="new_login" >
   
        <h1>Iniciar sesión</h1>
        
        <table border='0'>
         
            <tr>
                <td data-tr="Email"></td>
                <td><input type="text" name ="email" id="email" placeholder ="email" value=""/></td>
                <td>
                    <span id="e_email" class="styerror">
                        
                    </span>
                    </td>
            </tr>

            <tr>
                <td data-tr="password"></td>
                <td><input type="text" name ="password" id="password" placeholder ="password" value=""/></td>
                <td><font color="red">
                    <span id="e_password" class="styerror"></span>
                    </font></font></td>
            </tr>

          

          

        
            <tr>
                <td><input type="button" name="login" id="login" class="login" onclick="validate_login()" value="enviar"/></td>
                <td align="right"><a href="index.php?page=controller_home&op=list">Volver</a></td>
            </tr>
        </table>
    </form>
</div>