<div id="pinta_update">



<form autocomplete="on" method="post" name="new_update" id="new_update">

    <div id="contenido">
        <h1 class="title-drop">Update</h1>
        <div class="conte">

            <div id="up_nombre">Nombre:  <input type="text" name ="up_nombre" id="up_nombre"  value="">
                <span id="error_upname" class="styerror"></span>
            </div>


            <div id="up_email">Email:  <input type="text" name ="up_email" id="up_email"  value="">
                <span id="error_upemail" class="styerror"></span>
            </div>

            <div class="up_pais">
                <h6>País:  <select id="cboPais"></select></h6>
            </div>
            <div class="up_provincia">
             <h6>Provincia:  <select id="cboprovincia"></select></h6>
            </div>
            <div class="up_ciudad">
                <h6>Ciudad:  <select id="cboCiudad"></select></h6>
            </div>
            <button class="update_butt" id="update_butt" onclick="validate_update()">Update</button>
     </div>



    </form>

</div>