<form autocomplete="on" method="post" name="new_recover" id="new_recover" >

<h1>Recover password</h1>
<table border='0'>
<tr>
    <td data-tr="password"></td>
    <td><input type="text" name ="password" id="password" placeholder ="password" value=""/></td>
    <td><font color="red">
        <span id="e_password" class="styerror"></span>
        </font></font></td>
</tr>
<tr>
    <td data-tr="password2"></td>
    <td><input type="text" name ="password2" id="password2" placeholder ="password" value=""/></td>
    <td><font color="red">
        <span id="e_password2" class="styerror"></span>
        </font></font></td>
</tr>
<td><input type="button" name="recover" id="recover" class="recover" onclick="validate_recover()" value="enviar"/></td>
</table>

</form>