<div id="pinta_update">

   


    <form autocomplete="on" method="post" name="new_update" id="new_update">
    
        <div id="contenido">
            <h1 class="title-drop">Update</h1>
            <div class="conte">
    
                <div>Nombre:  <input type="text" name ="up_nombre" id="up_nombre"  value="">
                    <span id="error_upname" class="styerror"></span>
                </div>
    
    
                <div >Email:  <input type="text" name ="up_email" id="up_email"  value="">
                    <span id="error_upemail" class="styerror"></span>
                </div>
    
                <div class="up_pais">
                    <h6>País:  <select id="cboPais" name="cboPais">

                        <option selected>Select country</option>
                    </select></h6>
                </div>
                <div class="up_provincia">
                 <h6>Provincia:  <select id="cboprovincia">

                    <option selected>Select province</option>
                 </select></h6>
                </div>
                <div class="up_ciudad">
                    <h6>Ciudad:  <select id="cboCiudad">

                        <option selected>Select city</option>
                    </select></h6>
                </div>

                <div id="dropzone" class="dropzone"></div><br/>

                
                <button type="button" name="submit_profile" id="submit_profile" value="submit">
                    Submit product
                  </button>         </div>
    
    
    
        </form>
    
    </div>